.carousel-wrapper {
  position: relative;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  background-color: #2d8688;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  cursor: pointer;
  user-select: none;
}

.carousel-prev {
  left: 12px;
}

.carousel-next {
  right: 12px;
}
